$button-a-color: #46139f;
$button-b-color: #ff7f50;
$button-c-color: white;
$default-transition: 0.2s;

@mixin button-hover($backgtound-color) {
  &:hover{
    opacity: 0.7;
    background-color: $backgtound-color !important;
  }
}
@mixin font-style{
  font-size: 14px !important;
  font-weight: bold !important;
  text-transform:uppercase;
}

.page-container{
  background-color: gray;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.buttonA{
  background-color: $button-a-color !important;
  transition: $default-transition !important;
  @include button-hover($button-a-color);
  @include font-style;
}
.buttonB{
  background-color: $button-b-color !important;
  transition: $default-transition !important;
  @include button-hover($button-b-color);
  @include font-style;
}
.buttonC{
  background-color: white !important;
  border: 1px solid $button-a-color !important;
  transition: $default-transition !important;
  color: $button-a-color !important;
  @include button-hover(white);
  @include font-style;
}
.main-modal{
  .list-group{
    margin-top: 24px;
    height: 400px;
    overflow-y: auto;
    .list-group-item{
      display: flex;
      justify-content: space-between;
      &:hover{
        background-color: $button-b-color !important;
        cursor: pointer;
      }
    }
  }
}
.filter-form{
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  label{
    margin-bottom: 6px;
  }
}
